* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav img {
  height: 60px;
  width: 139px;
}
nav ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
nav button {
  padding: 12px 16px;
  border: 0px;
  background-color: #30b868;
  border-radius: 4px;
  font-weight: 600;
  color: white;
}
#section1-div1 {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 16px;
 width: 16px;
 border-radius: 50%;
 background-color: rgba(48, 183, 93, 0.3);
}
#section1-div2{
  display: flex;
 justify-content: center;
 align-items: center;
 height: 11px;
 width: 11px;
 border-radius: 50%;
 background-color: rgba(48, 183, 93, 0.5);
}
#section1-div3{
 height: 6px;
 width: 6px;
 border-radius: 50%;
 background-color: rgb(48, 183, 93);
}